@import url('https://fonts.googleapis.com/css?family=Eczar:800');
@import url('https://fonts.googleapis.com/css?family=Poppins:600');

.body {
  font-family: "Poppins";
  height: 100vh;
  padding: 1em;
  overflow: hidden;
}
.background-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  user-select: none;
}
.background-wrapper .h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  font-family: "Eczar";
  font-size: 60vmax;
  color: #434343;
  letter-spacing: 0.025em;
  margin: 0;
  transition: 750ms ease-in-out;
  font-family: 'text2';
}

.h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  font-family: "Eczar";
  font-size: 60vmax;
  color: #434343;
  letter-spacing: 0.025em;
  margin: 0;
  transition: 750ms ease-in-out;
  font-family: 'text2';
}

.a {
  border: 2px solid #dadada;
  padding: 0.25em 0.4em;
  position: fixed;
  z-index: 1;
  color: #dadada;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: 150ms;
  font-family: 'text2';
  font-size: 1.6rem;
}
.a .svg > .polyline {
  transition: 150ms;
}
.a:hover {
  color: #ffffff;
  background: #1d1d1d;
  /*border-color: transparent;*/
}
.a:hover .svg > .polyline {
  stroke: #000;
}
.a:hover + .background-wrapper > .h1 {
  color: #dadada;
}
.p {
  color: #dadada;
  font-size: calc(4em + 3vmin);
  position: fixed;
  bottom: 1rem;
  right: 1.5rem;
  margin: 0;
  text-align: right;
  text-shadow: -1px -1px 0 #121212, 1px 1px 0 #121212, -1px 1px 0 #121212, 1px -1px 0 #121212;
  font-family: 'text2';
  user-select: none;
}
@media screen and (min-width: 340px) {
  .p {
    width: 70%;
  }
}
@media screen and (min-width: 560px) {
  .p {
    width: 50%;
  }
}
@media screen and (min-width: 940px) {
  .p {
    width: 30%;
  }
}
@media screen and (min-width: 1300px) {
  .p {
    width: 25%;
  }
}
